@tailwind base;

@tailwind components;

@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.loader {
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-left-color: #4f46e5; /* Tailwind indigo-600 */
	border-radius: 50%;
	width: 24px;
	height: 24px;
	animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
	to {
	  transform: rotate(360deg);
	}
  }

  .timestamp {
	display: block;
	font-size: 0.75rem; /* Smaller font size */
	color: #999; /* Light gray color */
	margin-top: 0.25rem; /* Small top margin */
  }